{{ define "main" }}
    <div class="flex flex-col items-center space-y-l mb-xl">
        <h2 class="heading-m">Advent of Code {{ .Params.Year }}</h2>
        <div class="flex items-center space-x-m">
            <h2 class="heading-m hover:text-link-hover-light hover:dark:text-link-hover-dark">
                <a href="https://adventofcode.com/{{ .Params.Year }}/day/{{ .Params.Day }}" target="_blank">
                    {{ .Title }} - {{ .Params.AoCTitle }}
                </a>
            </h2>
            <a href="https://github.com/mpetteno/aoc/tree/main/editions/{{ .Params.Year }}/day{{ .Params.Day }}"
               class="btn-brand" target="_blank">
                <i class="fa-brands fa-github mr-s"></i>Source
            </a>
        </div>
    </div>
    <div id="aoc" class="article w-full m:w-3/4 xl:w-1/2 space-y-xl">
        <p>{{ .Content }}</p>
    </div>
{{ end }}
